<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Travis-Sample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>514675EC22E44BEE00D9FE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5146760022E44BF000D9FE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5146760B22E44BF000D9FE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
